<button class="btn  text-left" style="width: 100%;" [ngClass]="{'btn-success':this.global.seletedDay==i,'btn-dark':this.global.seletedDay!=i}" (click)="curBtn(i)">
    <!-- Day-{{day.number+1}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn-danger" (click)="rmvDay()">x</button> -->
<div class="row">
    <div class="col-6 col-lg-6">Day-{{day.number+1}}</div>
    <div class="col-6 col-lg-6 text-right">
        <button class="btn-danger" (click)="rmvDay()" style="border-radius: 20px;border: none;">X</button>
    </div>
</div>
</button>
<br>
<br>