<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-3 mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-danger" (click)="addBtn()"> Add Day</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Day({{noOfDays}})</h4>
                    <span *ngIf="days.length==0">No days available</span>
                    <div *ngFor="let day of days;index as i">
                        <app-day [i]="i" [day]="day" [days]="days" [global]="global"></app-day>
                    </div>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-lg-9 tempContent mt-3">
            <br>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="row">
                        <div class="col-lg-2">
                            <app-modal [global]="global" [days]="days"></app-modal>
                            <!-- <span *ngIf="model"><app-modal></app-modal></span> -->
                        </div>
                    </div>
                    <br>
                    <div class="row p-3">
                        <div class="col-lg-12 text-left">
                            <h3>Topics</h3>
                            <span *ngIf="days.length!=0">
                                <span *ngIf="days[global.currentDay].topics.length==0">No Topic is available in day-{{global.currentDay+1}}</span>
                            <span *ngFor="let topic of days[global.currentDay].topics;index as i">
                                    &nbsp;<app-topic [topic]="topic" [global]="global" [days]="days" [i]="i"></app-topic>
                                 </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" *ngIf="days[global.currentDay].topics.length!=0">
                    <div class="row p-3">
                        <div class="col-lg-3 text-center" [ngClass]="{'borderBottom':global.isContentSelected}" (click)="contentChange()">
                            <a href="#" [ngClass]="{'selected':global.isContentSelected}">Content</a>
                        </div>
                        <div class="col-lg-4 text-center" [ngClass]="{'borderBottom':!global.isContentSelected}" (click)="contentChange()">
                            <a href="#" [ngClass]="{'selected':!global.isContentSelected}">Instruction for mentor</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <angular-editor [(ngModel)]="days[global.currentDay].topics[global.currentTopic].content" *ngIf="global.isContentSelected"></angular-editor>
                            <angular-editor [(ngModel)]="days[global.currentDay].topics[global.currentTopic].mentorInst" *ngIf="!global.isContentSelected"></angular-editor>
                            <br>
                            <!-- <input type="textbox" [value]="days[global.currentDay].topics[global.currentTopic].content" *ngIf="global.isContentSelected" />
                            <input type="textbox" [value]="days[global.currentDay].topics[global.currentTopic].mentorInst" *ngIf="!global.isContentSelected" /> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>